<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Old Cal Restaurant Row</name>

<description>
San Marcos Restaurant Row
</description>
<icon src="images/restaurantsicon.png" gap:platform="android" gap:density="ldpi" />

<author href="http://www.javafueled.com" email="bill@javafueled.com">
Bill Horvath
</author>

</widget>
